# Normaliza automáticamente archivos de texto
* text=auto

# Fuerza LF en código
*.ts   text eol=lf
*.tsx  text eol=lf
*.js   text eol=lf
*.json text eol=lf
*.css  text eol=lf
*.html text eol=lf

# Lockfile
pnpm-lock.yaml text eol=lf
